<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
	<h3>Register</h3>
	<p class="text-danger" ng-show="error_message">{{error_message}}</p>
	<form ng-submit="register()">
		<input type="text" class="form-control" placeholder="username" required ng-model="user.username"/><br/>
		<input type="password" class="form-control" placeholder="password" required ng-model="user.password"/><br/>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
</div>
</div>